/* reset some default styling */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* navigation menu */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
}

/* content section on home page */
.content-section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* responsive styles */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column; /* changes the flex direction of the navigation menu to column - stacking the items vertically */
    }

    nav a {
        margin: 5px 0;
    }
}
